# Port
BACKEND_PORT=<PORT>

# Local LLMS
OLLAMA_URL=<URL>
OLLAMA_PORT=<PORT or FALSE if routing through a proxy>

# LLM API data
GEMINI_API_KEY=<API_KEY>

# Activate Backend
ACTIVATE_URL=<URL>
ACTIVATE_PORT=<PORT or FALSE if routing through a proxy>

# Azure
AZURE_OPENAI_URL="<Azure Resource URL>"
AZURE_OPENAI_KEY="<Azure Resource Key>"
AZURE_DEPLOYMENT="<Azure Deployment Name>"
AZURE_OPENAI_VERSION="<Api Version - Current: 2025-04-01-preview>"

# OpenRouter
OPENROUTER_KEY="<OpenRouter Api Key>"
