# LLM Info
BACKEND_PORT=<PORT>
GEMINI_API_KEY=<GEMINI_API_KEY>
ANTHROPIC_API_KEY=<ANTHROPIC_API_KEY>
OPENAI_API_KEY=<OPENAI_API_KEY>
CORTECS_API_KEY=<CORTECS_API_KEY>

# Activate Backend
ACTIVATE_URL=<URL>
ACTIVATE_PORT=<PORT or FALSE if routing through a proxy>

ROOT_PASSWORD=<ROOT_PASSWORD>
STUDENT_PASSWORD=<STUDENT_PASSWORD>

# JWT Authentication
JWT_SECRET=<JWT_SECRET_KEY_FOR_SIGNING_TOKENS>